In [1]:
import pandas as pd

# CSV 파일 로딩하기

In [10]:
df = pd.read_csv("D:\\GitRepository\\StudyPythonBigData\\resources\\bd_kma_weather.csv")
df

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),...,1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr),합계 일조시간(hr),합계 일사량(MJ/m2)
0,108,서울,2017-01-01,2.7,-1.6,540.0,6.9,1419.0,NaN,NaN,...,7.1,10.2,15.7,17.5,0.7,1.0,0.3,NaN,NaN,NaN
1,108,서울,2017-01-02,5.0,1.8,2355.0,9.2,1355.0,2.08,NaN,...,7.0,10.1,15.6,17.5,0.9,1.2,NaN,NaN,NaN,NaN
2,108,서울,2017-01-03,2.0,-2.3,731.0,7.7,1444.0,NaN,NaN,...,6.9,9.9,15.5,17.4,1.3,1.8,NaN,NaN,NaN,NaN
3,108,서울,2017-01-04,3.9,1.0,1.0,8.9,1519.0,NaN,NaN,...,6.9,9.8,15.4,17.4,1.5,2.2,NaN,NaN,NaN,NaN
4,108,서울,2017-01-05,3.8,-0.1,316.0,7.3,1444.0,NaN,NaN,...,6.9,9.7,15.4,17.4,1.6,2.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7660,159,부산,2019-12-27,3.6,0.4,719.0,9.0,1437.0,NaN,NaN,...,12.8,15.3,18.6,19.3,2.5,3.6,NaN,NaN,9.2,12.64
7661,159,부산,2019-12-28,4.1,-0.3,736.0,9.4,1408.0,NaN,NaN,...,12.8,15.1,18.6,19.4,2.2,3.2,NaN,NaN,9.2,12.12
7662,159,부산,2019-12-29,6.5,2.6,403.0,9.5,1438.0,8.00,NaN,...,12.6,14.9,18.6,19.3,0.6,0.8,12.8,NaN,0.0,2.66
7663,159,부산,2019-12-30,9.6,7.1,2359.0,14.0,1421.0,1.50,NaN,...,12.6,14.9,18.5,19.2,1.8,2.6,NaN,NaN,6.7,9.97
7664,159,부산,2019-12-31,0.1,-2.5,2357.0,7.1,1.0,NaN,NaN,...,12.3,14.8,18.5,19.4,2.4,3.4,NaN,NaN,9.3,13.09

In [13]:
pd.options.display.max_columns = 62
df.head() # 처음 5개 출력

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간 풍속 풍향(16방위),최대 순간풍속 시각(hhmi),최대 풍속(m/s),최대 풍속 풍향(16방위),최대 풍속 시각(hhmi),평균 풍속(m/s),풍정합(100m),평균 이슬점온도(°C),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),평균 현지기압(hPa),최고 해면기압(hPa),최고 해면기압 시각(hhmi),최저 해면기압(hPa),최저 해면기압 시각(hhmi),평균 해면기압(hPa),가조시간(hr),합계 일조 시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사(MJ/m2),일 최심신적설(cm),일 최심신적설 시각(hhmi),일 최심적설(cm),일 최심적설 시각(hhmi),합계 3시간 신적설(cm),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C),평균 5cm 지중온도(°C),평균 10cm 지중온도(°C),평균 20cm 지중온도(°C),평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr),합계 일조시간(hr),합계 일사량(MJ/m2)
0,108,서울,2017-01-01,2.7,-1.6,540.0,6.9,1419.0,NaN,NaN,NaN,NaN,NaN,NaN,4.5,20.0,1050.0,2.8,50.0,2059.0,1.5,1333.0,-1.2,59.0,1342.0,75.9,5.6,1017.1,1031.0,928,1024.7,2315.0,1027.9,9.6,1.7,1300.0,0.90,4.38,NaN,NaN,NaN,NaN,NaN,7.0,7.0,0.9,-5.1,0.5,0.6,1.8,2.7,3.8,7.1,10.2,15.7,17.5,0.7,1.0,0.3,NaN,NaN,NaN
1,108,서울,2017-01-02,5.0,1.8,2355.0,9.2,1355.0,2.08,NaN,NaN,NaN,NaN,0.3,7.0,230.0,1606.0,4.2,250.0,1609.0,2.1,1843.0,1.3,57.0,1355.0,77.8,6.8,1011.8,1024.9,1,1020.5,1410.0,1022.5,9.6,2.7,1300.0,1.15,5.11,NaN,NaN,NaN,NaN,NaN,7.6,6.9,4.8,-1.6,3.9,3.0,3.0,3.2,3.8,7.0,10.1,15.6,17.5,0.9,1.2,NaN,NaN,NaN,NaN
2,108,서울,2017-01-03,2.0,-2.3,731.0,7.7,1444.0,NaN,NaN,NaN,NaN,NaN,NaN,7.2,180.0,1438.0,4.0,250.0,1458.0,1.8,1575.0,-4.8,38.0,1254.0,61.8,4.3,1013.4,1026.0,858,1022.8,1725.0,1024.2,9.7,8.9,1200.0,1.53,8.51,NaN,NaN,NaN,NaN,NaN,1.1,1.1,1.5,-6.8,2.6,3.0,3.5,4.0,4.5,6.9,9.9,15.5,17.4,1.3,1.8,NaN,NaN,NaN,NaN
3,108,서울,2017-01-04,3.9,1.0,1.0,8.9,1519.0,NaN,NaN,NaN,NaN,NaN,NaN,6.5,290.0,1348.0,4.0,250.0,1429.0,1.7,1444.0,-4.8,31.0,1503.0,55.0,4.3,1013.2,1025.3,2358,1022.5,1419.0,1024.0,9.7,8.6,1200.0,1.48,8.68,NaN,NaN,NaN,NaN,NaN,2.6,2.1,3.0,-4.4,3.4,3.3,3.6,4.0,4.5,6.9,9.8,15.4,17.4,1.5,2.2,NaN,NaN,NaN,NaN
4,108,서울,2017-01-05,3.8,-0.1,316.0,7.3,1444.0,NaN,NaN,NaN,NaN,NaN,NaN,9.4,50.0,1423.0,5.6,50.0,1553.0,3.1,2693.0,-5.1,42.0,943.0,52.3,4.2,1016.6,1028.6,2132,1025.3,1.0,1027.3,9.7,0.0,1300.0,0.70,4.27,NaN,NaN,NaN,NaN,NaN,8.4,1.3,2.4,-5.8,2.7,2.8,3.5,4.1,4.7,6.9,9.7,15.4,17.4,1.6,2.3,NaN,NaN,NaN,NaN

In [14]:
df.tail(3) # 마지막 3개 출력

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간 풍속 풍향(16방위),최대 순간풍속 시각(hhmi),최대 풍속(m/s),최대 풍속 풍향(16방위),최대 풍속 시각(hhmi),평균 풍속(m/s),풍정합(100m),평균 이슬점온도(°C),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),평균 현지기압(hPa),최고 해면기압(hPa),최고 해면기압 시각(hhmi),최저 해면기압(hPa),최저 해면기압 시각(hhmi),평균 해면기압(hPa),가조시간(hr),합계 일조 시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사(MJ/m2),일 최심신적설(cm),일 최심신적설 시각(hhmi),일 최심적설(cm),일 최심적설 시각(hhmi),합계 3시간 신적설(cm),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C),평균 5cm 지중온도(°C),평균 10cm 지중온도(°C),평균 20cm 지중온도(°C),평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr),합계 일조시간(hr),합계 일사량(MJ/m2)
7662,159,부산,2019-12-29,6.5,2.6,403.0,9.5,1438.0,8.0,NaN,NaN,NaN,NaN,11.4,7.1,50.0,1825.0,3.8,50.0,1839.0,1.3,1103.0,0.0,35.0,132.0,66.5,6.7,1017.3,1029.6,11,1021.0,2357.0,1026.0,9.8,NaN,1400.0,0.46,NaN,NaN,NaN,NaN,NaN,NaN,8.6,8.0,5.1,-7.6,6.1,6.2,7.3,8.0,8.9,12.6,14.9,18.6,19.3,0.6,0.8,12.8,NaN,0.0,2.66
7663,159,부산,2019-12-30,9.6,7.1,2359.0,14.0,1421.0,1.5,NaN,NaN,NaN,NaN,1.4,12.3,270.0,2343.0,6.5,290.0,2330.0,2.2,1890.0,6.3,59.0,2357.0,81.5,9.7,1012.0,1022.1,1002,1018.7,1331.0,1020.4,9.8,NaN,1200.0,1.96,NaN,NaN,NaN,NaN,NaN,NaN,5.3,4.3,9.3,3.2,9.0,8.6,8.6,8.6,9.0,12.6,14.9,18.5,19.2,1.8,2.6,NaN,NaN,6.7,9.97
7664,159,부산,2019-12-31,0.1,-2.5,2357.0,7.1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,14.2,270.0,454.0,6.3,290.0,1257.0,3.0,2605.0,-16.8,17.0,1601.0,28.3,1.8,1020.6,1032.6,1009,1020.5,36.0,1029.4,9.8,NaN,1200.0,2.18,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.4,-7.7,6.6,6.8,8.1,8.8,9.3,12.3,14.8,18.5,19.4,2.4,3.4,NaN,NaN,9.3,13.09

# 데이터프레임과 시리즈

In [15]:
type(df) # 데이터프레임 타입 확인

pandas.core.frame.DataFrame

In [16]:
df["평균기온(°C)"]

0       2.7
1       5.0
2       2.0
3       3.9
4       3.8
       ...
7660    3.6
7661    4.1
7662    6.5
7663    9.6
7664    0.1
Name: 평균기온(°C), Length: 7665, dtype: float64

In [18]:
type(df["평균기온(°C)"]) # 시리즈 타입 확인

pandas.core.series.Series

In [19]:
# 시리즈 - 1차원 벡터

df["평균기온(°C)"].head()

0    2.7
1    5.0
2    2.0
3    3.9
4    3.8
Name: 평균기온(°C), dtype: float64

In [20]:

# 데이터 프레임 - 2차원 행렬

df[["평균기온(°C)"]].head()

   평균기온(°C)
0       2.7
1       5.0
2       2.0
3       3.9
4       3.8

# 특정 조건 데이터 가져오기

In [21]:

df[["지점명", "평균기온(°C)"]].head()

  지점명  평균기온(°C)
0  서울       2.7
1  서울       5.0
2  서울       2.0
3  서울       3.9
4  서울       3.8

In [24]:
# query 문을 통해 원하는 데이터 가져오기
df.query("지점명 == '서울'").head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간 풍속 풍향(16방위),최대 순간풍속 시각(hhmi),최대 풍속(m/s),최대 풍속 풍향(16방위),최대 풍속 시각(hhmi),평균 풍속(m/s),풍정합(100m),평균 이슬점온도(°C),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),평균 현지기압(hPa),최고 해면기압(hPa),최고 해면기압 시각(hhmi),최저 해면기압(hPa),최저 해면기압 시각(hhmi),평균 해면기압(hPa),가조시간(hr),합계 일조 시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사(MJ/m2),일 최심신적설(cm),일 최심신적설 시각(hhmi),일 최심적설(cm),일 최심적설 시각(hhmi),합계 3시간 신적설(cm),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C),평균 5cm 지중온도(°C),평균 10cm 지중온도(°C),평균 20cm 지중온도(°C),평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr),합계 일조시간(hr),합계 일사량(MJ/m2)
0,108,서울,2017-01-01,2.7,-1.6,540.0,6.9,1419.0,NaN,NaN,NaN,NaN,NaN,NaN,4.5,20.0,1050.0,2.8,50.0,2059.0,1.5,1333.0,-1.2,59.0,1342.0,75.9,5.6,1017.1,1031.0,928,1024.7,2315.0,1027.9,9.6,1.7,1300.0,0.90,4.38,NaN,NaN,NaN,NaN,NaN,7.0,7.0,0.9,-5.1,0.5,0.6,1.8,2.7,3.8,7.1,10.2,15.7,17.5,0.7,1.0,0.3,NaN,NaN,NaN
1,108,서울,2017-01-02,5.0,1.8,2355.0,9.2,1355.0,2.08,NaN,NaN,NaN,NaN,0.3,7.0,230.0,1606.0,4.2,250.0,1609.0,2.1,1843.0,1.3,57.0,1355.0,77.8,6.8,1011.8,1024.9,1,1020.5,1410.0,1022.5,9.6,2.7,1300.0,1.15,5.11,NaN,NaN,NaN,NaN,NaN,7.6,6.9,4.8,-1.6,3.9,3.0,3.0,3.2,3.8,7.0,10.1,15.6,17.5,0.9,1.2,NaN,NaN,NaN,NaN
2,108,서울,2017-01-03,2.0,-2.3,731.0,7.7,1444.0,NaN,NaN,NaN,NaN,NaN,NaN,7.2,180.0,1438.0,4.0,250.0,1458.0,1.8,1575.0,-4.8,38.0,1254.0,61.8,4.3,1013.4,1026.0,858,1022.8,1725.0,1024.2,9.7,8.9,1200.0,1.53,8.51,NaN,NaN,NaN,NaN,NaN,1.1,1.1,1.5,-6.8,2.6,3.0,3.5,4.0,4.5,6.9,9.9,15.5,17.4,1.3,1.8,NaN,NaN,NaN,NaN
3,108,서울,2017-01-04,3.9,1.0,1.0,8.9,1519.0,NaN,NaN,NaN,NaN,NaN,NaN,6.5,290.0,1348.0,4.0,250.0,1429.0,1.7,1444.0,-4.8,31.0,1503.0,55.0,4.3,1013.2,1025.3,2358,1022.5,1419.0,1024.0,9.7,8.6,1200.0,1.48,8.68,NaN,NaN,NaN,NaN,NaN,2.6,2.1,3.0,-4.4,3.4,3.3,3.6,4.0,4.5,6.9,9.8,15.4,17.4,1.5,2.2,NaN,NaN,NaN,NaN
4,108,서울,2017-01-05,3.8,-0.1,316.0,7.3,1444.0,NaN,NaN,NaN,NaN,NaN,NaN,9.4,50.0,1423.0,5.6,50.0,1553.0,3.1,2693.0,-5.1,42.0,943.0,52.3,4.2,1016.6,1028.6,2132,1025.3,1.0,1027.3,9.7,0.0,1300.0,0.70,4.27,NaN,NaN,NaN,NaN,NaN,8.4,1.3,2.4,-5.8,2.7,2.8,3.5,4.1,4.7,6.9,9.7,15.4,17.4,1.6,2.3,NaN,NaN,NaN,NaN

In [23]:
# 지점명이 "서울" 인 데이터만 가져오기
df[df["지점명"] == "서울"].head()  

# 둘다 동일함

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간 풍속 풍향(16방위),최대 순간풍속 시각(hhmi),최대 풍속(m/s),최대 풍속 풍향(16방위),최대 풍속 시각(hhmi),평균 풍속(m/s),풍정합(100m),평균 이슬점온도(°C),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),평균 현지기압(hPa),최고 해면기압(hPa),최고 해면기압 시각(hhmi),최저 해면기압(hPa),최저 해면기압 시각(hhmi),평균 해면기압(hPa),가조시간(hr),합계 일조 시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사(MJ/m2),일 최심신적설(cm),일 최심신적설 시각(hhmi),일 최심적설(cm),일 최심적설 시각(hhmi),합계 3시간 신적설(cm),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C),평균 5cm 지중온도(°C),평균 10cm 지중온도(°C),평균 20cm 지중온도(°C),평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr),합계 일조시간(hr),합계 일사량(MJ/m2)
0,108,서울,2017-01-01,2.7,-1.6,540.0,6.9,1419.0,NaN,NaN,NaN,NaN,NaN,NaN,4.5,20.0,1050.0,2.8,50.0,2059.0,1.5,1333.0,-1.2,59.0,1342.0,75.9,5.6,1017.1,1031.0,928,1024.7,2315.0,1027.9,9.6,1.7,1300.0,0.90,4.38,NaN,NaN,NaN,NaN,NaN,7.0,7.0,0.9,-5.1,0.5,0.6,1.8,2.7,3.8,7.1,10.2,15.7,17.5,0.7,1.0,0.3,NaN,NaN,NaN
1,108,서울,2017-01-02,5.0,1.8,2355.0,9.2,1355.0,2.08,NaN,NaN,NaN,NaN,0.3,7.0,230.0,1606.0,4.2,250.0,1609.0,2.1,1843.0,1.3,57.0,1355.0,77.8,6.8,1011.8,1024.9,1,1020.5,1410.0,1022.5,9.6,2.7,1300.0,1.15,5.11,NaN,NaN,NaN,NaN,NaN,7.6,6.9,4.8,-1.6,3.9,3.0,3.0,3.2,3.8,7.0,10.1,15.6,17.5,0.9,1.2,NaN,NaN,NaN,NaN
2,108,서울,2017-01-03,2.0,-2.3,731.0,7.7,1444.0,NaN,NaN,NaN,NaN,NaN,NaN,7.2,180.0,1438.0,4.0,250.0,1458.0,1.8,1575.0,-4.8,38.0,1254.0,61.8,4.3,1013.4,1026.0,858,1022.8,1725.0,1024.2,9.7,8.9,1200.0,1.53,8.51,NaN,NaN,NaN,NaN,NaN,1.1,1.1,1.5,-6.8,2.6,3.0,3.5,4.0,4.5,6.9,9.9,15.5,17.4,1.3,1.8,NaN,NaN,NaN,NaN
3,108,서울,2017-01-04,3.9,1.0,1.0,8.9,1519.0,NaN,NaN,NaN,NaN,NaN,NaN,6.5,290.0,1348.0,4.0,250.0,1429.0,1.7,1444.0,-4.8,31.0,1503.0,55.0,4.3,1013.2,1025.3,2358,1022.5,1419.0,1024.0,9.7,8.6,1200.0,1.48,8.68,NaN,NaN,NaN,NaN,NaN,2.6,2.1,3.0,-4.4,3.4,3.3,3.6,4.0,4.5,6.9,9.8,15.4,17.4,1.5,2.2,NaN,NaN,NaN,NaN
4,108,서울,2017-01-05,3.8,-0.1,316.0,7.3,1444.0,NaN,NaN,NaN,NaN,NaN,NaN,9.4,50.0,1423.0,5.6,50.0,1553.0,3.1,2693.0,-5.1,42.0,943.0,52.3,4.2,1016.6,1028.6,2132,1025.3,1.0,1027.3,9.7,0.0,1300.0,0.70,4.27,NaN,NaN,NaN,NaN,NaN,8.4,1.3,2.4,-5.8,2.7,2.8,3.5,4.1,4.7,6.9,9.7,15.4,17.4,1.6,2.3,NaN,NaN,NaN,NaN

In [25]:
# 평균기온이 33도 이상인 날만 가져오기

df[df["평균기온(°C)"] > 33]

,지점,지점명,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간 풍속 풍향(16방위),최대 순간풍속 시각(hhmi),최대 풍속(m/s),최대 풍속 풍향(16방위),최대 풍속 시각(hhmi),평균 풍속(m/s),풍정합(100m),평균 이슬점온도(°C),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),평균 현지기압(hPa),최고 해면기압(hPa),최고 해면기압 시각(hhmi),최저 해면기압(hPa),최저 해면기압 시각(hhmi),평균 해면기압(hPa),가조시간(hr),합계 일조 시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사(MJ/m2),일 최심신적설(cm),일 최심신적설 시각(hhmi),일 최심적설(cm),일 최심적설 시각(hhmi),합계 3시간 신적설(cm),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C),평균 5cm 지중온도(°C),평균 10cm 지중온도(°C),평균 20cm 지중온도(°C),평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr),합계 일조시간(hr),합계 일사량(MJ/m2)
577,108,서울,2018-08-01,33.6,27.8,556.0,39.6,1536.0,NaN,NaN,NaN,NaN,NaN,NaN,7.1,20.0,1246.0,4.0,270.0,1802.0,1.7,1454.0,22.9,35.0,1253.0,55.5,28.0,993.4,1004.1,812,1001.0,1630.0,1002.8,14.1,12.6,1300.0,3.12,25.69,NaN,NaN,NaN,NaN,NaN,0.8,0.8,40.1,23.1,34.0,32.6,30.7,29.6,28.6,25.9,23.8,18.5,15.2,6.6,9.4,NaN,NaN,NaN,NaN
578,108,서울,2018-08-02,33.7,30.3,607.0,37.9,1558.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,320.0,1632.0,3.2,320.0,1633.0,1.6,1343.0,22.9,38.0,1354.0,54.4,28.0,995.6,1006.2,843,1003.7,48.0,1005.0,14.1,9.8,1100.0,2.58,18.58,NaN,NaN,NaN,NaN,NaN,4.0,2.0,36.8,26.8,33.7,32.8,31.1,30.1,29.2,26.1,23.9,18.5,15.2,4.8,6.8,NaN,NaN,NaN,NaN
579,108,서울,2018-08-03,33.1,30.0,2342.0,37.9,1415.0,NaN,NaN,NaN,NaN,NaN,NaN,7.3,320.0,1454.0,4.2,320.0,1523.0,1.9,1628.0,22.6,39.0,1415.0,55.3,27.4,997.4,1008.3,2355,1005.3,142.0,1006.8,14.0,10.5,1400.0,2.71,21.09,NaN,NaN,NaN,NaN,NaN,1.0,1.0,39.3,26.5,34.1,32.9,31.2,30.2,29.4,26.3,24.1,18.6,15.3,5.4,7.8,NaN,NaN,NaN,NaN
2768,133,대전,2018-08-02,33.4,27.6,610.0,38.6,1406.0,NaN,NaN,NaN,NaN,NaN,NaN,6.9,70.0,1218.0,3.7,110.0,1716.0,1.9,1684.0,23.1,40.0,1409.0,56.3,28.2,997.9,1006.7,807,1004.0,1646.0,1005.5,14.0,13.0,1200.0,3.67,29.50,NaN,NaN,NaN,NaN,NaN,1.4,0.4,42.7,24.6,38.2,36.6,35.1,34.2,30.8,27.5,24.8,19.8,16.4,6.8,9.7,NaN,NaN,NaN,NaN
3856,143,대구,2018-07-26,33.1,27.9,542.0,38.0,1353.0,NaN,NaN,NaN,NaN,NaN,NaN,5.4,290.0,1319.0,3.2,340.0,1714.0,1.8,1522.0,21.8,33.0,1430.0,53.5,26.1,1000.2,1008.0,753,1003.6,1752.0,1006.1,14.1,9.5,1000.0,2.56,19.84,NaN,NaN,NaN,NaN,NaN,3.4,3.3,39.8,25.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.9,7.0,NaN,NaN,NaN,NaN